@use '../../../styles/abstracts/mixins' as *;

.survey {
  height: 100%;
  font-family: var(--font-text-regular);
  font-size: var(--font-sizes-text-regular);
  color: var(--color-purple-dark);

  &__header {
    @include flex-column-space-btw;
    gap: 20px;
  }

  &__meta {
    @include flex-space-btw;
  }

  &__title {
    font-family: var(--font-heading);
    font-size: var(--font-size-h1);
    color: var(--color-orange-primary);
  }

  &__description {
    padding: 20px 0;
  }

  &__questions {
    @include grid-two-columns;
    padding-bottom: 20px;
    gap: 32px;
  }
}

@media (max-width: 850px) {
  .survey__questions {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 550px) {
  .survey__meta {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
  }
}
