@use '../../../../styles/abstracts/load-abstracts.scss' as *;

.survey__form {
  .complete-btn {
    padding: 8px 12px;
    background-color: rgba(255, 183, 112, 0.3);
    font-weight: 700;
    font-family: 'Nokora', sans-serif;
    border-radius: 10px;
    align-self: flex-end;
  }

  .questions {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
}

.question {
  border: none;

  &__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 24px;
  }

  &__more-than-one {
    font-size: 14px;
    font-weight: normal;
  }
}

.options-wrapper {
  @include flex(column, 8px, center, start);
}

.option {
  @include flex(row, 16px, flex-start, center);
  line-height: 1;

  &:hover {
    background-color: rgba(255, 207, 161, 0.4);
  }

  &__input {
    cursor: pointer;
    appearance: none;
    width: 15px;
    height: 15px;

    &:not(:checked) {
      background-image: url('/assets/icons/checkbox-unchecked.svg');

      &:hover {
        background-image: url('/assets/icons/checkbox-hover.svg');
      }
    }

    &:checked {
      background-image: url('/assets/icons/checkbox-checked.svg');
    }
  }

  &__text {
    font-size: 16px;

    .letter {
      font-weight: 700;
    }
  }
}
