<form class="survey__form" [formGroup]="surveyForm" (ngSubmit)="onSubmitSurvey()">
  <div class="questions" formArrayName="questions">
    @for (question of questions; track question.id; let qIndex = $index) {
      <div class="question" [formGroupName]="qIndex">
        <h3 class="question__title">
          {{ question.question }}
          @if (question.allowMultipleAnswers) {
            <p class="question__more-than-one">More than one answer is possible.</p>
          }
        </h3>

        <div class="options-wrapper">
          @for (answer of question.answers; track $index) {
            <div class="option">
              @if (question.allowMultipleAnswers) {
                <input
                  type="checkbox"
                  class="option__input"
                  [id]="'opt-' + question.id + '-' + $index"
                  [formControl]="getCheckboxControl(qIndex, $index)"
                />
              } @else {
                <input
                  type="radio"
                  class="option__input"
                  [id]="'opt-' + question.id + '-' + $index"
                  [name]="'question-' + question.id"
                  [value]="answer.text"
                  [formControl]="getRadioControl(qIndex)"
                />
              }

              <label class="option__text" [for]="'opt-' + question.id + '-' + $index">
                <span class="letter"> {{ getLetter($index) }}.</span> {{ answer.text }}
              </label>
            </div>
          }
        </div>
      </div>
    }

    <button type="submit" class="complete-btn">Complete survey</button>
  </div>
</form>
