<article class="survey">
  <section class="survey__top">
    <p class="survey-status survey-status--published">Published</p>
    <div class="survey__top--date-and-category">
      <p class="end-date">Ends on {{ survey().end_date | date: 'dd.MM.yyyy' }}</p>
      <p class="category">Category: {{ survey().category }}</p>
    </div>
    <h1 class="survey__title">{{ survey().title }}</h1>
    <p class="survey__description">{{ survey().description }}</p>
  </section>
  <!-- 
  <form class="survey__form" action="">
    @for (question of questions(); track $index) {
      <fieldset class="question">
        <legend class="question__title">
          {{ $index + 1 + '.' }}
          {{ question.question }}

          @if (question.allowMultipleAnswers) {
            <p class="question__more-than-one">More than one answer is possible.</p>
          }
        </legend>

        <div class="options-wrapper">
          @for (answer of question.answers; track $index) {
            <div class="option">
              <input
                class="option__input"
                [type]="question.allowMultipleAnswers ? 'checkbox' : 'radio'"
                [id]="'opt-' + question.id + '-' + $index"
                [name]="'question-' + question.id"
                [value]="answer.text"
              />
              <label class="option__text" for="{{ 'opt-' + question.id + '-' + $index }}">
                <span class="letter"> {{ getLetter($index) }}.</span> {{ answer.text }}</label
              >
            </div>
          }
        </div>
      </fieldset>
    }

    <div></div>
    <button type="submit" class="complete-btn">Complete survey</button>
  </form> -->

  <app-survey-form></app-survey-form>
</article>
