@forward '../styles/main.scss';

body:has(.create-survey-dialog[open]) {
  height: 100dvh;
  overflow-y: hidden;
}

body:has(.create-survey-dialog:not([open])) {
  .dialog-overlay {
    display: none;
  }
}
