/* You can add global styles to this file, and also import other style files */
@use './app/app.scss' as *;

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Mulish', sans-serif;
  color: $primary-purple;
}

a {
  text-decoration: none;
}
