<!-- <fieldset class="question">
        <legend>
          <span>{{ $index + 1 + '.' }}</span
          ><span>{{ question.question }}</span>
        </legend>

        @if (question.allowMultipleAnswers) {
          <p>More than one answers are possible.</p>
        }

        @for (answer of question.answers; track $index) {
          <div class="answer-wrapper">
            <input type="checkbox" />
            <label for="">
              <span></span> <span> {{ answer.text }}</span></label
            >
          </div>
        }
      </fieldset> -->
