@use '../../../styles/abstracts/use-abstracts' as *;

.error_msg {
  color: rgb(249, 50, 50);
  font-size: var(--font-size-text-small);
  visibility: hidden;

  &--category {
    justify-self: center;
  }
}

.error_msg--visible {
  visibility: visible;
}

.create-survey__upper {
  display: flex;
  width: 100%;
  gap: 64px;
}

.create-survey__left {
  flex: 1;
}

.create-survey__right {
  align-self: flex-start;
  app-delete-btn {
    align-self: flex-start;
  }
  flex: 1;
}

.create-survey__field {
  flex: 1;
}

.create-survey__label {
  margin-bottom: 8px;
}

.create-survey__input-row {
  display: flex;
  align-items: center;
  gap: 8px;

  input {
    flex: 1;
  }
}

.create-survey__delete-btn-row {
  @include flex-space-btw;

  app-delete-btn {
    display: none;
  }
}

.create-survey__row {
  display: flex;
  gap: 8px;
}

@media (max-width: 1000px) {
  .create-survey__upper {
    flex-direction: column;
    gap: 24px;
    padding-top: 32px;
  }

  .create-survey__row {
    flex-direction: column-reverse;
  }

  .create-survey__dropdown {
    align-self: flex-start;
    margin-bottom: 0px;
  }

  .create-survey__upper,
  .create-survey__left,
  .create-survey__right,
  .create-survey__row,
  .create-survey__field,
  .create-survey__input-row {
    width: 100%;
  }

  .create-survey__input-row {
    padding: 0px 8px;

    input,
    textarea {
      flex: 1;
      width: 100%;
    }
  }

  .create-survey__label {
    padding-left: 8px;
  }

  .create-survey__delete-btn-row {
    app-delete-btn {
      display: unset;
      margin-right: 8px;
    }
  }

  .create-survey__input-row {
    app-delete-btn {
      display: none;
    }
  }
}
