@use '../../../styles/abstracts/use-abstracts' as *;

.survey-header {
  @include flex-space-btw;

  margin-bottom: 40px;
  nav {
    @include flex-space-btw;
  }

  img {
    cursor: pointer;
  }
}

.survey-content {
  @include flex-space-btw;
  gap: 40px;
  align-items: stretch;
}

.survey {
  &__results {
    flex: 1;
    @include flex-column-space-btw;
    justify-content: flex-start;
    margin-top: 80px;
    gap: 20px;
    color: var(--color-purple-dark);

    h2 {
      font-family: var(--font-heading);
      font-size: var(--font-size-text-large);
      text-align: center;
    }

    span {
      color: var(--color-orange-primary);
      text-transform: uppercase;
    }

    &-container {
      @include flex-column-space-btw;
      justify-content: flex-start;
      height: 100%;
      gap: 32px;
    }
  }

  &__already-voted {
    font-family: var(--font-text-semibold);
    font-size: var(--font-size-text-medium);
    text-align: center;
  }

  &__btn {
    justify-self: flex-end;

    &.btn--disabled {
      background-color: #e1e1e1;
      color: #8a8a8a;
      cursor: not-allowed;
      pointer-events: none;
    }
  }

  &__placeholder,
  &__live-results {
    font-family: var(--font-text-medium);
    text-align: center;
  }
}

.results-anim {
  overflow: hidden;
  animation: slideDown 0.35s ease forwards;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    max-height: 0;
    transform: translateY(-6px);
  }
  100% {
    opacity: 1;
    max-height: 1000px;
    transform: translateY(0);
  }
}

.survey-results__h2 {
  font-size: 32px;
  font-family: 'Nerko One', sans-serif;
  font-weight: 400;
  margin-bottom: 16px;

  span {
    color: var(--color-orange-primary);
  }
}

.survey-details__placeholder {
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 1000px) {
  .survey-content {
    flex-direction: column;
  }

  .survey-header {
    button {
      display: none;
    }
  }
}
